@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&family=Antonio:wght@100..700&family=Silkscreen:wght@400;700&family=Kaushan+Script&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Riot&display=swap");

$KaushanScript: "Kaushan Script", cursive;
$ProtestRiot: "Protest Riot", sans-serif;
$PTSans: "PT Sans", sans-serif;
$Silkscreen: "Silkscreen", sans-serif;
$Antonio: "Antonio", sans-serif;
$PragatiNarrow: "Pragati Narrow", sans-serif;

$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black: 900;
