@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&family=Stick+No+Bills:wght@200..800&display=swap");

$Silkscreen: "Silkscreen", sans-serif;
$BodyFont: "Cousine", sans-serif;
$titleFont: "Stick No Bills", sans-serif;

$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black: 900;
