/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

/* other variables here */
$black: #0d0d0d;
$white: #ffffff;

/* Primary colors */
$primary: #001d5a;
$secondary: #f0a733;
$success: #30bd06;
$info: #e6ebe0;
$warning: #f3ea3f;
$danger: #ca2b16;
$light: #d6e5fa;
$dark: #c7dcfc;

/* Grays */
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

/* Additional colors */
$primary-rgb: 0, 123, 255; /* RGB values for the primary color */

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

/* Background colors */
$bg-primary: $primary;
$bg-secondary: $secondary;
$bg-success: $success;
$bg-info: $info;
$bg-warning: $warning;
$bg-danger: $danger;
$bg-light: $light;
$bg-dark: $dark;

/* scss-docs-start tooltip-css-vars */
$tooltip-color: $white;
$tooltip-bg: $gray-700;
