@media (max-width: 319px) {
  /* Styles for smartphones, portrait iPhone, and Android phones */
  html {
    font-size: 50%;
  }
}
@media (min-width: 320px) {
  /* Styles for smartphones, portrait iPhone, and Android phones */
  html {
    font-size: 50%;
  }
}
@media (min-width: 480px) {
  /* Styles for smartphones, Android phones, and landscape iPhone */
}

@media (min-width: 600px) {
  /* Styles for portrait tablets, portrait iPad, e-readers (Nook/Kindle) */
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 801px) {
  /* Styles for tablet, landscape iPad, lo-res laptops, and desktops */
  html {
    font-size: 75%;
  }
}

@media (min-width: 1025px) {
  /* Styles for big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* Styles for hi-res laptops and desktops */
  html {
    font-size: 82.5%;
  }
}
