@import "fonts";
@import "variables";
@import "components";
@import "reset";
@import "bg";

@import "~bootstrap/scss/bootstrap";

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

html,
body {
  font-family: $BodyFont;
  position: relative;
  min-width: 320px;
  font-size: 14px;
  line-height: 16px;
}

header {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  background: transparent;
  font-size: 1.2rem;

  .navbar-brand {
    text-align: center;
    padding: 0.5rem 0;
    color: $white;
    h1 {
      font-family: $Silkscreen;
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 0;
      margin: 0;
      letter-spacing: -0.2rem;
      color: #00c6cf;
    }
    p {
      font-size: 1rem;
      line-height: 0.8rem;
      letter-spacing: 0.2rem;
      color: #f19453;
    }
  }

  .menus {
    // font-family: $Antonio;
    font-weight: 200;
    flex-grow: 0;
    .navbar-nav {
      a.nav-link {
        color: $white;
        text-transform: uppercase;
        position: relative;
        &::after {
          content: "";
          width: 0%;
          height: 0.25rem;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0.5rem;
          background-color: #00c6cf;
          transition: width 0.3s;
        }
      }
      a.nav-link.active,
      a.nav-link:hover {
        color: #f19453;
        &::after {
          width: 40%;
        }
      }
    }
  }
}

.hero {
  background-color: $black;
  background-size: cover;
  min-height: 90vh;
  padding-top: 10rem;
  .hero-content {
    color: $white;
    padding: 2rem 0;
    img {
      width: 40%;
      float: left;
      margin-right: 1rem;
    }
    h1 {
      font-family: $Silkscreen;
      font-size: 3.5rem;
      text-wrap: balance;
      max-width: 70%;
      line-height: 1.9rem;
      color: #00c6cf;
      margin-bottom: 3rem;
      .family-name {
        color: #f19453;
      }
    }
    p.intro-subtext {
      max-width: 50%;
      line-height: 1.4rem;
      font-size: 1.1rem;
      text-wrap: balance;
    }
    p.intro-subtext span.highlight1 {
      color: #00c6cf;
    }
    p.intro-subtext span.highlight2 {
      color: #f19453;
    }
  }
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/* footer */
footer {
  background-color: var(--theme-color-1);
  .copyright {
    background-color: var(--theme-color-10);
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--theme-color-5);
    line-break: anywhere;
    height: 6.5rem;
    position: relative;
    margin-bottom: 6rem;
  }

  .profile-card img.img-thumbnail {
    width: 8rem;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
  }

  .profile-card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-card-heading h3 {
     font-family: $Silkscreen;
    font-size: 1.4rem;
  }

  .profile-card-heading h4 {
    font-size: 1.1rem;
  }

  .social-icons {
    padding: 1rem 0;
  }
}

// experience
.experience {
  margin-top: 3rem;
}

.timeline.timeline-one {
  .timeline-item {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: left;
  }

  .timeline-item img {
    margin-bottom: 1.25rem;
  }

  .timeline-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 0.425rem;
    margin-left: -0.5rem;
    border: 0.0625rem solid #dce6f3;
    border-radius: 50%;
  }

  .timeline-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -0.1875rem;
    width: 0.0625rem;
    margin-top: 1.875rem;
    margin-left: -0.0625rem;
    background-color: #dce6f3;
  }

  .timeline-item:nth-child(2n + 1) {
    margin-left: 0;
    padding-right: 0;
    padding-left: 1.5rem;
    text-align: left;
  }

  .timeline-item:nth-child(2n + 1):after,
  .timeline-item:nth-child(2n + 1):before {
    right: auto;
    left: 0;
  }

  .timeline-item:nth-child(2n + 1):before {
    margin-right: -0.5rem;
  }

  .timeline-item:nth-child(2n + 1):after {
    margin-right: -0.0625rem;
  }

  .timeline-item img.company-logo {
    height: auto;
    aspect-ratio: auto;
    margin: 0;
  }

  .timeline-item img.zooplus-logo {
    width: 8rem;
  }

  .timeline-item img.ibm-logo {
    width: 6rem;
  }

  img.capgemini-logo {
    width: 9rem;
  }

  img.hcl-logo {
    width: 8rem;
  }

  img.harman-logo {
    width: 8rem;
  }

  img.eighteen-hundred-bpo-logo {
    width: 8rem;
  }

  img.jtech-logo {
    width: 6rem;
  }

  img.kishaa-logo {
    width: 4rem;
  }
}
.timeline.timeline-one.dark {
  .timeline-item:before {
    border: 0.0625rem solid #b7c3d2;
  }

  .timeline-item:after {
    background-color: #b7c3d2;
  }
}

/* Small */
@media (min-width: 576px) {
  .timeline.timeline-one {
    .timeline-item {
      width: 50%;
      margin-left: 50%;
    }

    .timeline-item:nth-child(2n + 1) {
      padding-right: 1.5rem;
      padding-left: 0;
      text-align: right;
    }

    .timeline-item:nth-child(2n + 1):after,
    .timeline-item:nth-child(2n + 1):before {
      right: 0;
      left: auto;
    }
  }
}
