@import "./_variables.scss";
@import "./reset.scss";

@import "~bootstrap/scss/bootstrap";

// $fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/regular";
// @import "~@fortawesome/fontawesome-free/scss/brands";

:root {
  --sd-deco-font-family: "Leckerli One", cursive;
  --sd-font-heading: "Rubik Mono One", monospace;
  --bs-body-font-family: "DM Sans", sans-serif;
}
html {
  font-size: 12px;
  &::before {
    position: fixed;
    content: "xs";
    left: 0;
    bottom: 0;
    width: 4rem;
    height: 2rem;
    z-index: 10;
  }
  @include media-breakpoint-up(sm) {
    font-size: 12px;
    &::before {
      content: "sm";
    }
  }
  @include media-breakpoint-up(md) {
    font-size: 14px;
    &::before {
      content: "md";
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
    &::before {
      content: "lg";
    }
  }
  @include media-breakpoint-up(xl) {
    font-size: 16px;
    &::before {
      content: "xl";
    }
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
    &::before {
      content: "xxl";
    }
  }
}

body {
  font-size: 100%;
}

.sd-brand {
  font-family: var(--sd-font-heading);
  color: var(--bs-primary);
  font-size: 1.4rem;
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=1200");
  min-height: 20rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sd-nav {
  background-color: var(--bs-light) !important;
  height: 6rem;
  transition: all 0.3s ease-in-out;

  .offcanvas {
    @include media-breakpoint-down(lg) {
      background-color: var(--bs-gray-600);
      width: 12rem;
      ul.sd-navbar-nav {
        margin: 5rem;
        a {
          color: var(--bs-white) !important;
          text-align: right;
          &::after {
            left: auto;
            right: 0;
          }
        }
      }
      .offcanvas-menu-close {
        align-self: flex-end;
      }
    }
  }

  .sd-navbar-nav a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0.5rem;
      width: 0%;
      bottom: 0.4rem;
      height: 0.2rem;
      background: var(--bs-danger);
      transition: width 0.3s ease;
    }
    &:hover,
    &.active {
      &::after {
        width: 40%;
      }
    }
  }
}
.hero {
  background-color: var(--bs-light);
  margin-bottom: 4rem;
  min-height: 80vh;
  display: flex;
  align-items: center;
  .hero-text {
    text-wrap: balance;
    padding-right: 3rem;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .hero-img {
    width: 100%;
    height: auto;
  }
  .hero-title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
    padding: 2rem 0;
    text-wrap: balance;
    em {
      font-family: var(--sd-deco-font-family);
      color: var(--bs-primary);
      background-color: var(--bs-warning);
      background: linear-gradient(1deg, var(--bs-warning) 0%, rgb(255 255 255 / 0%) 100%);
      padding: 0 1rem;
      font-size: 2.5rem;
    }
  }
  .hero-subtitle {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-wrap: balance;
  }
  .social-icons {
    margin: 2rem 0;
    a {
      display: inline-block;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.section-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  padding: 2rem 0;
  text-wrap: balance;
  em {
    font-family: var(--sd-deco-font-family);
    color: var(--bs-primary);
    background-color: var(--bs-warning);
    background: linear-gradient(1deg, var(--bs-warning) 0%, rgb(255 255 255 / 0%) 100%);
    padding: 0 1rem;
    font-size: 2.5rem;
  }
}
#about {
  margin-bottom: 3rem;
  a.about-more {
    text-decoration: none;
    text-underline-offset: 0;
    transition: all 0.3s ease;
    &:hover {
      text-underline-offset: 0.375em;
      text-decoration: underline;
    }
  }
}
.about-text {
  line-height: 1.6rem;
  .my-name {
    font-family: var(--sd-deco-font-family);
    font-size: 1.3rem;
  }
  .highlight1 {
    font-weight: 700;
    color: var(--bs-danger);
  }
  .highlight2 {
    font-weight: 700;
    color: var(--bs-success);
  }
}

.dev-icons {
  color: var(--bs-gray-600);
  font-size: 3rem;
  line-height: 3.2rem;
  li > svg {
    width: 3rem;
  }
}

#experience {
  margin-bottom: 3rem;
}
.timeline {
  margin-bottom: 3rem;
  .timeline-item {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    text-align: left;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      margin-top: 0.95rem;
      margin-left: -0.5rem;
      border: 0.0625rem solid #dce6f3;
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: -1rem;
      width: 0.0625rem;
      margin-top: 1.875rem;
      margin-left: -0.0625rem;
      background-color: #dce6f3;
    }
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }
    img {
      margin-bottom: 1.25rem;
    }
    &:nth-child(2n + 1) {
      margin-left: 0;
      padding-right: 0;
      padding-left: 1.5rem;
      text-align: left;
    }
    &:nth-child(2n + 1):after,
    &:nth-child(2n + 1)::before {
      right: auto;
      left: 0;
    }
    &:nth-child(2n + 1):before {
      margin-right: -0.5rem;
    }
    &:nth-child(2n + 1):after {
      margin-right: -0.0625rem;
    }
    &::before {
      border: 0.0625rem solid #b7c3d2;
    }
    &::after {
      background-color: #b7c3d2;
    }
    img.company-logo {
      height: auto;
      aspect-ratio: auto;
      margin: 0;
      &.zooplus-logo {
        width: 8rem;
      }
      &.ibm-logo {
        width: 6rem;
      }
      &.capgemini-logo {
        width: 9rem;
      }
      &.hcl-logo {
        width: 10rem;
        padding: 0.5rem 0;
      }
      &.harman-logo {
        width: 8rem;
      }
      &.eighteen-hundred-bpo-logo {
        width: 8rem;
      }
      &.jtech-logo {
        width: 6rem;
        padding: 0.5rem 0;
      }
      &.kishaa-logo {
        width: 4rem;
      }
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

#education.parallax {
  background-image: url(https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?q=80&w=1200);
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.education-items {
  display: flex;
  flex-direction: column-reverse;
  .resume-item {
    position: relative;
    padding: 0 0 3rem 0;
    .edu-year {
      margin: 0 0 0 3rem;
      font-weight: 700;
      color: var(--bs-white);
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      border-left: 0.1rem solid var(--bs-gray-400);
      left: 0.5rem;
      top: 0;
    }
    > a {
      display: block;
      position: absolute;
      border: 0.1rem solid var(--bs-gray-400);
      border-radius: 100%;
      height: 1rem;
      width: 1rem;
      left: 0;
      top: 0;
      background-color: var(--bs-gray-400);
      &:hover {
        background-color: var(--bs-danger);
      }
    }
    &:first-child {
      padding: 0;
    }
    &:last-child {
      padding: 2rem 0 2rem 0;
      > a {
        top: 2rem;
      }
    }
  }
}

#photoroll {
  margin: 5rem 0;
  .section-title {
    margin: 0 0 3rem 0;
  }
  .masonry {
    // display: grid;
    // grid-template-columns: repeat(3, minmax(30%, 1fr));
    // grid-auto-columns: minmax(30%, 100%);
    // gap: 1rem;
    .brick.photo-item a.photo-item-link {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      border-radius: 0.5rem;
      img {
        max-width: 100%;
        transition: all 0.5s ease-in-out;
      }
      .photo-title {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.6rem;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        color: var(--bs-white);
        transition: all 0.5s ease-in-out;
        display: none;
        visibility: hidden;
        padding: 0 2rem;
      }
      &:hover {
        img {
          transform: scale(1.2, 1.2);
        }
        .photo-title {
          display: flex;
          visibility: visible;
        }
      }
    }
  }
}

#blog {
  background-color: var(--bs-gray-200);
  margin-bottom: 4rem;
  .blog-items {
    .blog-item {
      text-decoration: none;
      margin-bottom: 3rem;
      color: var(--bs-gray-800);
      > figure {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          transition: all 0.5s ease-in-out;
        }
      }
      &:hover {
        > figure img {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}

footer {
  background-color: var(--bs-gray-100);
  .divider {
    border-top: 0.1rem solid var(--bs-gray-200);
  }
}

/* Small */
@media (min-width: 576px) {
  .timeline .timeline-item {
    width: 50%;
    margin-left: 50%;
    &:nth-child(2n + 1) {
      padding-right: 1.5rem;
      padding-left: 0;
      text-align: right;
    }
    &:nth-child(2n + 1):after,
    &:nth-child(2n + 1):before {
      right: 0;
      left: auto;
    }
  }
}

/* Large */
@media (min-width: 992px) {
  .education-items {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    .resume-item {
      padding: 2rem;
      .edu-year {
        margin: 3rem 0 0 0;
        text-align: center;
      }
      &::before {
        content: "";
        width: 100%;
        height: 0;
        border: 0 none;
        border-top: 0.1rem solid var(--bs-gray-400);
        left: 0;
        top: calc(50% - 0.05rem);
      }
      > a,
      > a:last-child {
        left: calc(50% - 0.5rem);
        top: calc(50% - 0.5rem) !important;
      }
      &:first-child,
      &:last-child {
        padding: 2rem;
      }
    }
  }
}
